body{
	background: white;
	font-family: arial;
	max-width: 300px;
}

.eras{
	width: 300px;
	padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px #f0f5f5;
    border-radius: 10px;
    background: #999999;
} 

img{
	max-width: 300px;
	height: 200px;
	padding-bottom: 5px;
}

.content{
	border:1px solid black ;
    padding: 10px;
    border-radius: 4px;
    }
 #fact {
 	font-style: italic;
 }

 .labels{
 	font-weight: bold;
 	
 }

 .panther{
 	list-style-type: none;
 	
 }

ul{
	margin:0;
 	padding:0;
}